POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mnemosyne
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

PIPELINE_DB_USER=pipeline_writer
PIPELINE_DB_PASSWORD=change_me
DBT_DB_USER=dbt_owner
DBT_DB_PASSWORD=change_me
SUPERSET_DB_USER=superset_ro
SUPERSET_DB_PASSWORD=change_me
RAILS_DB_USER=rails_app
RAILS_DB_PASSWORD=change_me

SUPERSET_SECRET_KEY=change_me_to_a_long_random_string
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
